.fetured-items__content {
    display: flex;
    justify-content: center;
    margin-top: 98px;
}

.fetured-items__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fetured-items-column:not(:last-child) {
    margin-right: 20px;
}

.fetured-items__card {
    position: relative;
}

.fetured-items__card:not(:last-child) {
    margin-bottom: 20px;
}

.fetured-items__card_img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.fetured-items__card-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    position: absolute;
    top: 27px;
    left: 0;
    background-color: #ffffff;
    padding: 16px 20px;
}

.fetured-items__card-label_title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 0.45px;
}

.fetured-items__card-lable_direction {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 22px;
    font-weight: 900;
    letter-spacing: 0.75px;
    color: #f16d7f;
}

@media (max-width: 1024px) {
    .fetured-items__card-lable_direction {
        font-size: 22px;
        line-height: 21px;
    }

    .fetured-items__card-label_title {
        font-size: 14px;
        line-height: 17px;
    }

    .fetured-items__card-label {
        height: auto;
    }
}

@media (max-width: 840px) {
    .fetured-items__card-label {
        padding: 7px 7px;
    }

    .fetured-items__card-lable_direction {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }

    .fetured-items__card-label_title {
        font-size: 10px;
        line-height: 11px;
    }
}

@media (max-width: 600px) {
    .fetured-items__content {
        flex-direction: column;
        padding: 0 8% 0 8%;
    }
    
    .fetured-items-column:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
}