.crumbs {
    background-color: #f8f3f4;
}

.crumbs__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.crumbs__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    color: #f16d7f;
    text-transform: uppercase;
}

.crumbs__links a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #636363;
    text-decoration: none;
}

.crumbs__links :last-child {
    color: #f16d7f;
    font-weight: 700;
}

@media (max-width:1200px) {
    .crumbs__content {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width:600px) {
    .crumbs__content {
        flex-direction: column;
        justify-content: center;
    }

    .crumbs__links {
        margin-top: 8px;
    }

    .crumbs__content {
        height: 25vw;
    }
}

@media (max-width:480px) {
    .crumbs__links a {
        font-size: 11px;
    }

    .crumbs__title {
        font-size: 5vw;
    }
}