.topNav {
    display: flex;
    justify-content: space-between;
    max-width: 680px;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.topNav a {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    max-width: 680px;
    margin: 0 auto;
    font-weight: 900;
    height: inherit;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

.topNav a:hover {
    border-bottom: 3px solid #ef5b70;
}

@media (max-width: 740px) {
    .topNav a {
        font-size: 12px;
        line-height: 15px;
    }

    .topNav {
        height: 30px;
    }
}

@media (max-width: 520px) {
    .topNav {
        height: 23px;
    }

    .topNav a {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 420px) {
    .topNav {
        justify-content: start;
        height: auto;
        padding-left: 8px;
        padding-right: 8px;
    }

    .topNav a {
        margin: 0 7px 4px 0;
    }
}