.productsTrendGridWrap {
    display: flex;
    justify-content: center;
}

.productsTrendGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(215px, 260px));
    margin-top: 40px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
}

@media (max-width:1120px) {
    .productsTrendGrid {
        display: grid;
        grid-template-columns: repeat(3, minmax(215px, 260px));
        margin-top: 30px;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media (max-width:1015px) {
    .productsTrendGrid {
        grid-template-columns: repeat(2, minmax(215px, 260px));
    }
}

@media (max-width:760px) {
    .productsTrendGrid {
        grid-template-columns: repeat(1, minmax(215px, 260px));
    }
}