@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

body {
  min-width: 320px;
  font-family: "Lato", sans-serif;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-family: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


/* h1,
h2,
h3,
h4,
h5,
a,
p,
form,
nav,
header,
div,
section,
button,
input,
textarea {
  border: 1px solid red;
} */